@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 16px;
  direction: rtl;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header-container {
  height: 3.5rem;
}

.down-arrow {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.down-arrow .down-1 {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 100;
  background-color: #fff;
}
.down-arrow .down-2 {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: rotateZ(45deg);
  background-color: black;
  top: 30%;
  left: 30%;
}

.main-header {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-header .logo-container {
  position: relative;
  height: 100%;
  width: 10rem;
}
.main-header .logo-container .logo {
  max-width: 80%;
}
.main-header .logo-container .subtitle {
  font-size: 0.6rem;
  font-weight: 700;
  position: absolute;
  top: 65%;
  right: 1rem;
  text-decoration: none;
  color: #7e685a;
}
.main-header .main-navbar {
  display: none;
  font-size: 1.2rem;
}
.main-header .main-navbar .main-navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}
.main-header .main-navbar .main-navbar-links .seperator {
  display: none;
}
.main-header .main-navbar .main-navbar-links .nav-item > a {
  text-decoration: none;
  color: black;
}
.main-header .active-navbar {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
}
.main-header .hidden-navbar {
  display: none;
}
.main-header .career-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-header .career-links .career-link-item {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  border-bottom: 1px #00b8d4 dashed;
  padding: 0.5rem;
}
.main-header .hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  gap: 0.2rem;
  margin: 0 0.5rem;
}
.main-header .hamburger-btn div {
  background-color: #213a7f;
  border-radius: 0.5rem;
  width: 100%;
  height: 12.5%;
}
.main-header .hamburger-btn.hamburger-to-x .top {
  transform: rotateZ(45deg) translate(1.1rem, 1.1rem);
  animation: hamburger-to-x-top 1s linear 1;
}
.main-header .hamburger-btn.hamburger-to-x .middle {
  transform: translateX(100%);
  opacity: 0;
  animation: hamburger-to-x-middle 1s 1;
}
.main-header .hamburger-btn.hamburger-to-x .bottom {
  transform: rotateZ(-45deg);
  animation: hamburger-to-x-bottom 1s linear 1;
}
.main-header .hamburger-btn.x-to-hamburger .top {
  animation: hamburger-to-x-top 1s linear 1 reverse;
}
.main-header .hamburger-btn.x-to-hamburger .middle {
  animation: hamburger-to-x-middle 1s 1 reverse;
}
.main-header .hamburger-btn.x-to-hamburger .bottom {
  animation: hamburger-to-x-bottom 1s linear 1 reverse;
}

.site-banner {
  text-align: center;
}
.site-banner .banner-slogan {
  background-color: #213b7f;
  color: white;
}
.site-banner .banner-slogan .slogan-1 {
  font-size: 4rem;
  font-weight: 600;
}
.site-banner .banner-slogan .slogan-2 {
  font-size: 6rem;
  font-weight: 900;
}
.site-banner .banner-subtitle {
  padding: 0.5rem;
  background-color: #eff6df;
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.career-section {
  padding: 1rem;
}
.career-section .contact-form {
  display: none;
}

.career-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.career-content .career-header {
  font-size: 3rem;
}
.career-content .careers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.career-content .careers a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.career-content .careers .career-item {
  display: flex;
  align-items: center;
}
.career-content .careers .career-item .career-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: purple;
  margin: 0.5rem;
}
.career-content .careers .career-item .seperator {
  height: 3rem;
  width: 3px;
  border-radius: 2px;
  background-color: purple;
}
@media (min-width: 450px) {
  .career-content .careers {
    flex-direction: row;
  }
  .career-content .careers a {
    width: fit-content;
  }
  .career-content .careers .career-item {
    flex-direction: column;
    width: 8.5rem;
  }
  .career-content .careers .career-item .seperator {
    width: 3rem;
    height: 3px;
  }
  .career-content .careers .career-item span {
    text-align: center;
  }
}

.contact-form {
  background-color: #213b7f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}
.contact-form .contact-header {
  padding: 0;
  margin: 0;
}
.contact-form .contact-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.contact-form .contact-fields .text-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.contact-form .textbox-field {
  color: #373737;
  background-color: white;
  width: 80%;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}
.contact-form .textbox-field label {
  width: 25%;
}
.contact-form .textbox-field input {
  border: none;
  max-width: 7rem;
}
.contact-form .textbox-field input::placeholder {
  visibility: hidden;
}
.contact-form .textbox-field input.invalid::placeholder {
  color: red;
  visibility: visible;
}
.contact-form .textbox-field .seperator {
  background-color: #213b7f;
  width: 3px;
  border-radius: 2px;
  height: 1.5rem;
}
.contact-form .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8rem;
  font-weight: 700;
}
.contact-form a {
  color: white;
}
.contact-form .contact-btn {
  height: 4rem;
  width: 14rem;
  padding: 0.1rem;
  background-color: white;
}
.contact-form .contact-btn button {
  border: 2px solid #00b8d4;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1.8rem;
}

.bottom-links {
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: white;
  gap: 2px;
  height: 4rem;
  width: 100%;
}
.bottom-links .contact-link, .bottom-links .whatsapp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06f;
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
}
.bottom-links .whatsapp-2 {
  display: none;
}

.modal-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(126, 104, 90, 0.5);
  z-index: 200;
}
.modal-container .modal-bg {
  background-image: url("../../assets/modal-bg.76e0ddc9.jpg");
  background-size: cover;
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  transform: rotateZ(40deg);
}
.modal-container .modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateZ(-40deg);
}
.modal-container .modal .exit-btn {
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal-container .modal .exit-btn .x-line-1, .modal-container .modal .exit-btn .x-line-2 {
  width: 100%;
  height: 2px;
  background-color: black;
}
.modal-container .modal .exit-btn .x-line-1 {
  transform: rotateZ(45deg) translate(0.6rem, 0.6rem);
}
.modal-container .modal .exit-btn .x-line-2 {
  transform: rotateZ(-45deg);
}
.modal-container .modal h1 {
  color: #154b9c;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
}
.modal-container .modal .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 85%;
}
.modal-container .modal .form-container .modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.modal-container .modal .form-container .text-input {
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
}
.modal-container .modal .form-container .text-input::placeholder {
  font-weight: 900;
}
.modal-container .modal .form-container .text-input.invalid::placeholder {
  color: red;
}
.modal-container .modal .form-container .checkbox-container {
  color: #154b9c;
  font-weight: 700;
}
.modal-container .modal .form-container .modal-btn {
  width: 50%;
  height: 3rem;
  background-color: #154b9c;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.modal-container.modal-container-exit {
  animation: modal-exit 0.5s ease-out 1;
}

.modal-container.modal-container-popup {
  display: flex;
  animation: modal-popup 0.5s ease-in 1;
}

@keyframes hamburger-to-x-top {
  0% {
    transform: rotateZ(0deg) translate(0, 0);
  }
  100% {
    transform: rotateZ(45deg) translate(1.1rem, 1.1rem);
  }
}
@keyframes hamburger-to-x-middle {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(2.5rem);
    opacity: 0;
  }
}
@keyframes hamburger-to-x-bottom {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}
@keyframes modal-popup {
  0% {
    display: none;
    transform: translateY(-100%);
  }
  100% {
    display: flex;
    transform: translateY(0);
  }
}
@keyframes modal-exit {
  from {
    display: flex;
    transform: translateY(0);
  }
  to {
    display: none;
    transform: translateY(-100%);
  }
}
@media (min-width: 925px) {
  .main-header {
    justify-content: center;
    height: 4.5rem;
    position: fixed;
    top: 0;
  }
  .main-header .logo-container .logo {
    max-width: 100%;
  }
  .main-header .main-navbar {
    display: block;
    position: static;
    width: fit-content;
    font-size: 1rem;
  }
  .main-header .main-navbar .main-navbar-links {
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
  }
  .main-header .main-navbar .main-navbar-links .home {
    display: none;
  }
  .main-header .main-navbar .main-navbar-links .seperator {
    display: block;
    width: 1px;
    background-color: black;
  }
  .main-header .main-navbar .main-navbar-links .nav-item > a:hover {
    color: #213a7f;
    font-weight: 700;
  }
  .main-header .main-navbar .main-navbar-links .nav-item > a:hover .down-2 {
    background-color: #213a7f;
  }
  .main-header .career-navbar {
    position: absolute;
    top: 100%;
    background-color: #1b316e;
    border: 1px black solid;
    width: 100%;
  }
  .main-header .career-links {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 14rem;
    padding: 0.5rem;
    margin: 0;
  }
  .main-header .career-links .career-link-item {
    border-bottom: none;
    color: #fff;
    font-weight: 700;
    width: fit-content;
    padding: 0;
  }
  .main-header .career-links .career-link-item:hover {
    background-color: #fff;
    color: #1b316e;
  }
  .main-header .hamburger-btn {
    display: none;
  }
  .site-banner .banner-slogan .slogan-1 {
    font-size: 6rem;
  }
  .site-banner .banner-slogan .slogan-2 {
    font-size: 8rem;
  }
  .career-section {
    display: grid;
    grid-template-columns: 40rem auto;
    grid-template-rows: 9rem auto;
    grid-template-areas: "careers ." "careers contact";
  }
  .career-section .career-content {
    grid-area: careers;
  }
  .career-section .contact-form {
    display: flex;
    grid-area: contact;
  }
  .career-section .contact-form .contact-header {
    width: 80%;
  }
  .main-footer .contact-fields {
    flex-direction: row;
  }
  .main-footer .contact-fields .text-fields {
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
  }
  .main-footer .contact-fields .text-fields .textbox-field {
    width: 13rem;
  }
  .bottom-links {
    width: fit-content;
    height: 2rem;
    right: 1rem;
    background-color: transparent;
  }
  .bottom-links .contact-link, .bottom-links .whatsapp-1 {
    display: none;
  }
  .bottom-links .whatsapp-2 {
    display: inline;
  }
  .bottom-links .whatsapp-link {
    border-radius: 1rem;
    border: 2px greenyellow solid;
    padding: 0.5rem;
    width: 20rem;
    height: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
