@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
}

html {
  font-size: 16px;
  direction: rtl;
}

body {
  margin: 0;
  background-color: #eee;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header-container {
  width: 100vw;
  height: 3.5rem;
}

.main-header {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-header .logo-container {
  position: relative;
  height: 100%;
  width: 10rem;
}
.main-header .logo-container .logo {
  max-width: 80%;
}
.main-header .logo-container .subtitle {
  font-size: 0.6rem;
  font-weight: 700;
  position: absolute;
  top: 65%;
  right: 1rem;
  text-decoration: none;
  color: #7e685a;
}
.main-header .main-navbar {
  display: none;
}
.main-header .main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.main-header .main-navbar ul .seperator {
  display: none;
}
.main-header .active-navbar {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
}
.main-header .hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border: none;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  gap: 0.2rem;
  margin: 0 0.5rem;
}
.main-header .hamburger-btn div {
  background-color: #213a7f;
  border-radius: 0.5rem;
  width: 100%;
  height: 12.5%;
}

.site-banner {
  text-align: center;
  width: 100vw;
}
.site-banner .banner-slogan {
  background-color: #213b7f;
  color: white;
}
.site-banner .banner-slogan .slogan-1 {
  font-size: 4rem;
  font-weight: 600;
}
.site-banner .banner-slogan .slogan-2 {
  font-size: 6rem;
  font-weight: 900;
}
.site-banner .banner-subtitle {
  padding: 0.5rem;
}

.main-footer {
  background-color: #213b7f;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.main-footer .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.main-footer .contact-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.main-footer .contact-fields .text-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.main-footer .contact-fields .textbox-field {
  color: #373737;
  background-color: white;
  width: 80%;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}
.main-footer .contact-fields .textbox-field label {
  width: 25%;
}
.main-footer .contact-fields .textbox-field input {
  border: none;
  max-width: 7rem;
}
.main-footer .contact-fields .textbox-field input::placeholder {
  visibility: hidden;
}
.main-footer .contact-fields .textbox-field input.invalid::placeholder {
  color: red;
  visibility: visible;
}
.main-footer .contact-fields .textbox-field .seperator {
  background-color: #213b7f;
  width: 3px;
  border-radius: 2px;
  height: 1.5rem;
}
.main-footer a {
  color: white;
}
.main-footer .contact-btn {
  height: 4rem;
  width: 14rem;
  padding: 0.1rem;
  background-color: white;
}
.main-footer .contact-btn button {
  border: 2px solid #00b8d4;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1.8rem;
}

@media (min-width: 925px) {
  .main-header {
    justify-content: center;
    height: 4.5rem;
    position: fixed;
    top: 0;
  }
  .main-header .logo-container .logo {
    max-width: 100%;
  }
  .main-header .main-navbar {
    display: block;
    position: static;
    width: fit-content;
  }
  .main-header .main-navbar ul {
    flex-direction: row;
  }
  .main-header .main-navbar ul .home {
    display: none;
  }
  .main-header .main-navbar ul .seperator {
    display: block;
    width: 1px;
    background-color: black;
  }
  .main-header .hamburger-btn {
    display: none;
  }
  .site-banner .banner-slogan .slogan-1 {
    font-size: 6rem;
  }
  .site-banner .banner-slogan .slogan-2 {
    font-size: 8rem;
  }
  .main-footer .contact-fields {
    flex-direction: row;
  }
  .main-footer .contact-fields .text-fields {
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
  }
  .main-footer .contact-fields .text-fields .textbox-field {
    width: 13rem;
  }
}

/*# sourceMappingURL=styles.css.map */
